* {
    box-sizing: border-box;
}

body {
    font-family: 'Kanit', sans-serif;
    color: #0F4A59;
    background: #FAF7D9;
    margin: 2rem auto;
    line-height: 1.5;
    width: 95%;
}

nav {
    padding-top: 3%;
    padding-right: 10%;
    position: fixed;
    display: grid;
    justify-items: end;
    align-items:center;
    top: 0;
    width: 100%;
}

.inner {
    background: #FAF7D9;
    padding: 1em;
    border-radius: 10px;
    clip-path: circle(20% at 80% 25%);
    transition: all .5s ease-in-out;
    cursor: pointer;
}

.hamburger {
    float: right;
    font-weight: bold;
    transition: color .5s;
    position: relative;
    margin-right: 2%;
    margin-top: 3%;
}

.hamburger:hover div, .hamburger:focus div, .hamburger:active div {
    background-color: rgba(255,255,255,0)
}

.hamburger div{
    width: 20px;
    height: 4px;
    background-color: #B83261;
    border-radius: 3px;
    margin: 3px 0;
}

.nav-options {
    list-style-type: none;
}

.inner:hover, .inner:focus, .inner:active {
    clip-path: circle(75%);
    background: #0F4A59;
}

.nav-options li > a:visited {
    color: #FAF7D9
}


.nav-options li > a {
    color: #FAF7D9;
    text-decoration: none;
}

header {
    text-align: center;
    padding: 3% 0;
    margin-top: 100px;
}

.contact-container {
    display: flex;
    justify-content: space-around;
    padding: 3% 0;
}

#more-about-me {
    padding: 3% 0;
    margin-bottom: 15rem;
}

h4, p {
  margin: 0;
}

h4 {
    text-align: center;
    margin-bottom: 10px;
}

h5 {
    font-size: 2rem;
    text-align: center;
}

.emph {
    font-weight: bold;
    color: #B83261;
}

.link-style a {
    text-decoration: none;
    font-size: 1rem;
    color: #ffffff;
    text-shadow: 1px 1px black;
}

.divider {
    font-size: 1rem;
}

a:hover, a:focus {
    color: #FA78A6;
    transition: all 0.3s ease;
} 

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.grid > * {
  padding: .5rem;
  background: #333;
  color: white;
  text-shadow: 1px 1px black;
}

.grid {
    display: grid;
    grid-auto-rows: minmax(300px, auto);
    gap: .5rem;
  }

.grid li {
    display: flex;
    align-items: flex-end;
}

.future {
     background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.8)), url("https://picsum.photos/600");
     background-size: cover;

}

#quiz {
    background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.9)),
    url("images/Quizapp.png");
    background-size: cover;
    background-position: center;

}

#bookmark {
    background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.8)),
    url("images/bookmarkbutler.png");
    background-size: cover;
    background-position: center;
}

i {
    font-size: 2rem;
    color: #B83261;
}
i:hover, i:focus {
    color: #FA78A6;
    transition: all 0.3s ease;
    font-weight: bold;
}

footer {
    text-align: center;
}
.fa-copyright {
    font-size: 1rem;
    color: #0F4A59;
}

.modal-container {

    position: fixed;
    text-align: center;
    color: #ffffff;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.7);
}

img {
    margin-top: 5em;
    width: auto;
    max-width: 95%;
    height: auto;
    max-height: 95%;
}

.close {
    display: block;
    margin: 0 auto;
    width: 50px;
    height: 50px;
    border-radius: 3px;
    background: #B83261;
    color: #fff;
    font-size: 2rem;
    border: none;
}

.close:hover, .close:hover {
    background: #FA78A6;
    transition: all 0.3s ease;
    font-weight: bold;
}


@media screen and (min-width: 40em) {
    body {
        width: 90%;
    }
    header {
        width: 60%;
        margin: 0 auto;
    }
    h1 {
        font-size: 3rem;
    }
    h2, h5, i {
        font-size: 2.5rem;
    }
    h3, h4 {
        font-size: 2rem;
    }
    p {
        font-size: 1.5rem;
    }

    .link-style a, .divider {
        font-size: 1.6rem;
    }

    .grid {
      grid-template-columns: repeat(6, 1fr);
      gap: 2rem;
    }
    .grid li:nth-child(1) {
        grid-column: 1 / -1;
        grid-row: span 3;
    }
    .grid li:nth-child(2) {
        grid-column: span 3;
        grid-row: span 3;
    }

      .grid li:nth-child(3) {
        grid-column: span 3;
        grid-row: span 3;
    }

      .grid li:nth-child(4) {
        grid-column: 1/ -1;
        grid-row: span 3;
    }

    .grid {
        grid-gap: .6rem;
    }
}

@media screen and (min-width: 100em) {

    #more-about-me {
        width: 60%;
        margin: 0 auto;
        margin-bottom: 30rem;
    }

    img {
        width: auto;
        max-width: 80%;
        max-height: 80%;
    }
}